body {
	margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
	

    width: 100%;
    height: 100%;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #34495E;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #FDFEFE;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #AAB7B8;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FDFEFE;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
